/* FlipCard.css
.flip-card {
    height: 333px;
    width: 200px;
    perspective: 1000px;
    border-radius: 10px;
  }
  
  .flip-card-inner {
    height: 333px;
    width: 200px;
    text-align: center;
    transition: transform 0.6s;
    transform: rotateY(-180deg);
    border-radius: 10px;
  }
  
  .flip-card-front,
  .flip-card-back {
    height: 333px;
    width: 200px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
  }
   */
    img {
    height: 333px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  